.layout {
  margin: 0 auto;
  max-width: 100%;
  min-width: 800px;
  background-color: rgb(253, 244, 244);
}

.title-board {
  background-color: rgb(255, 241, 223);
  
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  border-bottom: 1px solid rgb(146, 142, 142);

}

.input-board {
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
  border-radius: 10px;
  
  margin: 0 auto;
  padding: 30px;

  
}

.input-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input {
  border-radius: 10px;
  border: none;
  
  height: 40px;
  width: 250px;

  padding: 0 10px;
}

.input-label {
  font-size: 15px;
  font-weight: 600;
}

.input-button {
  background-color: gold;
  
  height: 40px;
  width: 140px;

  border: none;
  border-radius: 10px;
  
  font-weight: 600;
}

.list-board {
  padding: 0 20px;

  align-items: center;
  justify-content: center;

}

.list-box {
  background-color: azure;
  width: 300px;
  padding: 0 20px;

  border: 2px solid pink;
  border-radius: 10px;

  margin-top: 20px;
}

.todo-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;

  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.list-buttons {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.todo-delete-button {
  height: 40px;
  width: 50%;

  border-radius: 10px;
  cursor: pointer;

  background-color: white;
  border: 2px solid red;
}

.todo-done-button {
  height: 40px;
  width: 50%;

  border-radius: 10px;
  cursor: pointer;

  background-color: white;
  border: 2px solid green;
}